/* General body styling */
body {
  font-family: Instrument Sans, sans-serif;
  margin: 0;
  padding: 0;
  text-align:right;
}

/* Sidebar */
.sidebar {
  position: fixed; /* stays in place */
  top: 0;
  left: 0; 
  height: 100vh; /* Make it span the entire height of the page */
  width: 100px; /* Sidebar width */
  z-index: 1000;
  display: flex; /* affects only elts inside */
  flex-direction: column; /* Ensure the list items stack vertically */
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  text-align: center;
  margin-bottom:20px;
}

.sidebar li a {
  color: #000000;
  text-decoration: none;
  font-size: 100px;
  display: block;
}


main {
  margin-left: 120px; /* Adjust content to the right of the sidebar */
  padding: 0px;
}

section {
  padding: 60px 20px;
  margin-bottom: 60px;
}

section h2 {
  font-size: 2rem;
}

.header {
  position: relative; 
  width: 100%;
  height: auto;
  z-index: 1; 
  font-family: "Instrument Sans", sans-serif;
  font-weight: 440;
  font-style: normal;
  font-size: 100px; 
  display: block; 
}