/* ----------------------- General ----------------------- */
body {
  font-family: Instrument Sans, sans-serif;
  margin: 0;
  text-align: center;
  font-size: 12px;
}

body h1 {
  padding-top: 10px;
}

.header {
  position: relative;
  height: auto;
  margin: 20px 0;
  z-index: 1;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 440;
  font-size: 80px;
  display: block;
  line-height: 70px;
  letter-spacing: -3px;
  text-align: center;
}

/* ----------------------- Sidebar ----------------------- */
.sidebar {
  position: fixed;
  height: 100vh;
  width: 100px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:-100px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar li a {
  color: #000;
  text-decoration: none;
  font-size: 100px;
  display: block;
}

/* ----------------------- Main ----------------------- */
main {
  margin-left: 160px;
  width: calc(100% - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 13px; 
  margin-top:-5px;
}

#rectangle {
  position: fixed;
  border-right: 1px solid #000;
  width: 160px;
  background-color: #fff;
  height: 100vh;
  z-index: 100;
  margin-top:-20px;
}

section {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

section h2 {
  font-style: italic;
  font-size: 40px;
  font-weight: 440;
  letter-spacing: -3px;
  margin-bottom: 10px;
}

section h3 {
  font-style: italic;
  font-size: 30px;
  font-weight: 440;
  letter-spacing: -3px;
}

section h4 {
  max-width: 1000px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

section p {
  width: 80%;
  font-weight: 300;
  font-size: 12px;
  text-align: justify;
  text-align-last: center;
  margin: 0 auto;
  max-width:900px;
}

section a {
  color: #000;
  font-style: italic;
}

/* Input section */
.input-all {
  background-color: #f4f4f4;
  display: flex;
  justify-content:flex-start;
  align-items:center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 80px;
  margin-bottom: 30px;
}

.input-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.input-imgs img {
  width: 600px;
  height: auto;
}

/* States section */
.states-all {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap:-10px;
}

.states-all img {
  width: 600px;
  height: auto;
}

.states-original {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Footer */
footer {
  text-align: center;
}

/* Table styling */
table {
  font-size:10px;
  margin: 10px auto;
  border-collapse: collapse;
  max-width: 1100px;
  background-color: #fff;
}

th, td {
  max-width: 400px;
  border: 0.5px solid #000;
  padding: 8px;
  text-align: justify;
  text-align-last: center;
}

th.header {
  background-color: #290f0f;
}

th {
  background-color: #f2f2f2;
}

.info p {
  width: 900px;
  margin: 0 auto;
}
